# Node
node_modules/
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Build output
dist/
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
